<div class='card my-3'>
  <div class='card-body d-flex flex-column justify-content-center'>
    <h2 class='card-title text-center'>Welcome to Your Digital Notebook</h2>

    {{!-- {{#if loggedIn}}
      {{! <a href=""></a> }}
      <h2>{{user.username}}</h2>
    {{else}}
      <a href='/signup' class='btn btn-primary text-white mx-auto mt-4'> Get Started Now!</a>
    {{/if}} --}}
    
  </div>
</div>