<div class="banner d-flex flex-column align-items-start mt-0 p-5 text-dark rounded border-bottom">
    <h2 class='banner-title text-center'>Endless Knowledge...</h2>
    <p>is right at your fingertips. A place to talk anything tec</p>

    <button class="start-modal rounded-pill">Start Now</button>
</div>
<div class="d-flex flex-column align-items-start col-6">
<ul class="list-group">
  {{#each posts as |post| }}
  <li class="list-group-item border-0 d-flex justify-content-between align-items-center">
    {{> post-info post}}
  </li>
  {{/each}}
</ul>

    {{!-- {{#if loggedIn}}
      {{! <a href=""></a> }}
      <h2>{{user.username}}</h2>
    {{else}}
      <a href='/signup' class='btn btn-primary text-white mx-auto mt-4'> Get Started Now!</a>
    {{/if}} --}}
    
  </div>
</div>