<form class="login-form">
    <div>
        <label for="email">Email:</label>
        <input type="text" id="email" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="text" id="password" />
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>

<script src="/javascript/login.js"></script>