<form class="login-form ms-3">
    <div class="col-4">
        <label class="form-label" for="login-email">Email:</label>
        <input class="form-control" type="text" id="login-email" />
    </div>
    <div class="col-4">
        <label class="form-label" for="login-password">Password:</label>
        <input class="form-control" type="password" id="login-password" />
    </div>
    <div class="col-4">
        <button class="btn btn-primary mt-4" type="submit">Login</button>
    </div>
</form>

<script src="/javascript/login.js"></script>