/* nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  max-width: 70%;
} */

body {
  background-color: rgb(230, 230, 230);
}

/* header {
  display: flex;

  justify-content: space-between;
  background-color: aqua;
  color: black;
} */

/* h1 {
  margin-bottom: 0;
} */

a {
  text-decoration: none;
  /* margin-right: -19px; */
}

a:hover,
a:visited {
  color: black;
}

/* .login-options {
  display: flex;
  justify-content: flex-end;
}  */

.wrapper {
  background-color: white;
  height: 100vh;
}

header {
  font-family: 'Share-TechMono', sans-serif;
  background-color: #e0e0e0;
}

h1 {
  font-size: 3.5rem;
}

.login-link {
  font-size: 1.2rem;
  margin-left: 1.5rem;
}

.banner {
  background-color: #e0e0e0;
}

.banner-title {
  font-size: 4.5rem;
  font-family: 'Share-TechMono', sans-serif;
}
